{
    "presets" : [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    //Al final no necesité el optional chaining pero me gustó.
    "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-optional-chaining"]
}